<aside id="about" class="callout">
  <div class="container">
    <div class="row justify-content-center">
      <br>
      <div class="col-lg-10 col-lg-offset-1 text-center">

        <hr class="small">
        <h2>About Jack</h2>
        <hr class="small">

        <p class="lead text-left">
          Hi! Before moving to Arizona, I moved to Seattle with my band from Ann Arbor in 2016. We played Indie Psych Rock and were influenced by bands like Talking Heads, New Order, and David Bowie. We toured the east coast multiple times before deciding to make a change and move out to Seattle. Since then I’ve studied under multiple working composers and have started writing and recording my own music. 
          <br><br>
          I’ve been playing guitar for over 15 years. My first Instrument was upright bass, then I started to explore electric bass, and took up guitar shortly after. I'm very passionate about music theory, and songwriting is the most important part of music to me. I would love to help people learn how to start writing their own songs in addition to playing guitar. Although I’ve played in mostly rock bands, I’ve explored guitar and writing songs in all different genres, and would feel comfortable helping you learn whatever genre/style that you’re passionate about.
        </p>
        <!-- /.row (nested) -->
      </div>
      <!-- <hr class="small"> -->
       <br>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>


</aside>
