<footer class="callout-short">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Jack Uppling</strong>
        </h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:jack.guitar206@gmail.com">jack.guitar206@gmail.com</a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Jack Uppling 20{{ site.time | date: '%y' }}</p>
        <br>
        <br>
        <p></p>
      </div>
    </div>
  </div>
</footer>
