<section id="instruments" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Instruments</h2>
        <hr class="small">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="service-item">
              <img src="/img/guitar.jpg" class="rounded-circle">
              <h4>
                <strong>Guitar</strong>
              </h4>
              <p>Electric or acoustic lessons for all skill levels</p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="service-item">
              <img src="/img/bass.jpg" class="rounded-circle">
              <h4>
                <strong>Bass</strong>
              </h4>
              <p>Beginner and intermediate lessons</p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="service-item">
              <img src="/img/uke.jpg" class="rounded-circle">
              <h4>
                <strong>Ukelele</strong>
              </h4>
              <p>Lessons for all skill levels</p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="service-item">
              <img src="/img/piano.jpg" class="rounded-circle">
              <h4>
                <strong>Piano</strong>
              </h4>
              <p>Beginner lessons offered</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
