<section id="testimonials" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 class="text-center">Testimonials</h2>
        <hr class="small">


        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “Jack has been an incredible teacher in helping me go from knowing very little about guitars to being able to play along to some of my favorite songs in a short period of time! Through both in-person and zoom lessons, he provides not only very helpful but also very encouraging and timely feedback that has allowed me to be successful and have fun while learning the guitar. I would definitely recommend Jack if you are looking for a great experience in learning guitar!”
                  <br><br>
                  — Olivia, Acoustic Guitar and Guitalele student
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “Jack is an amazing teacher and musician. Our lessons are a great mix of learning technique, music theory, or just having fun playing together. He always meets me where my needs and interests are, challenges me if I ask for it, and gives me the confidence and knowledge I need to stick with it. Jack is simply a great guy, packed with music wisdom, and genuinely interested in helping anyone progress towards becoming the musician they want to be.” 
                  <br><br>
                  — Ines, classical guitar
                </p>
              </a>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “My daughter has been with Jack for 6 lessons now and she is making fantastic progress. It is so exciting to see her really getting into playing the guitar. Jack is really clear in his instructions and patient with her which has really helped her flourish.“
                  <br><br>
                  — Laura, parent of student    
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “Jack is great! Very patient and experienced. I feel like I’ve learned so much in a very short amount of time.”
                  <br><br>
                  — Alyssa, acoustic guitar
                </p>
              </a>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “Jack was amazing! I needed to learn one song on the uke and play it one time to propose to my girlfriend. Jack gave great tips and advice, and in the end, gave a good critique of my final playing before it was time to go live! I highly recommend Jack, very laid back and professional and easy to work with!!”
                  <br><br>
                  — Dan, ukulele 
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “Jack is a great instructor; very knowledgable and offers an easy approach to teaching/learning. Jack is also very in-tuned to my desired path of musical interests and caters the lesson appropriately. Bottom line - highly recommend!”
                  <br><br>
                  — John, electric guitar
                </p>
              </a>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “My kids really enjoy learning from Jack. They appreciate that he sat down with them and talked about goals and teaches them using songs of their choice rather than follow a curriculum. One child has taken guitar lessons for years and and feels like they're learning much faster with Jack than the other teachers. And he has my new learner excited about guitar which I love to see. If looking for a guitar teacher, I highly recommend Jack.”
                  <br><br>
                  — Kris, parent of students
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <!-- <a> -->
                <p>
                  “Jack has been a fantastic teacher. I went in with very little knowledge, and in the year I’ve worked with him, I’ve advanced my skills so much. He caters lessons to your musical interests and takes time to walk you through difficult concepts. He also helped me through the process of buying my first electric guitar. Working with Jack has been an awesome experience, and I would definitely recommend his service.”
                  <br><br>
                  — Sawyer, electric Guitar
                </p>
              <!-- </a> -->
            </div>
          </div>
        </div>



        <!-- <a  class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
